<div class="homebasic">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">
            Välkommen till {{UserService.User.Compound.Name}}
        </h1>
    </md-toolbar>

    <div>
        <p>Hej och välkomna till Wemmenhögs budoförenings hemsida, där vi samlat information om Judo.</p>

        <p>Träningen bedrivs i Skurups sparbanks arena på nära 400 kvm tatamis, dvs en 40 mm tjock matta, skonsam för kroppen.</p>

        <p>Våra kvalificerade och välrenomerade tränare bedriver en träning av högsta klass oavsett inriktning, här kan du ung som gammal, nybörjare som erfaren känna dig väl omhändertagen och få dina behov tillgodosedda.</p>
    </div>
</div>